# ========================
#      Maven / Java
# ========================
target/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Log files
*.log
logs/

# JVM crash logs
hs_err_pid*
replay_pid*

# ========================
#    IntelliJ IDEA
# ========================
.idea/
*.iws
*.iml
*.ipr
out/

# ========================
#        macOS
# ========================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
__MACOSX

# ========================
#      Secrets & Local Configs
# ========================
*.secret
.env
application-local.properties
application-dev.yml